<a href="https://colab.research.google.com/github/MaiconGavino/matematica_python/blob/master/Aula_1_Curso_de_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Curso de PYTHON - Introdução a Linguagem de Programação

Este notebook é referente a primeira aula do curso de python, o mesmo será disponibilizado no final da aula para futuras consultas.

Neste notebook, será apresentado os seguintes tópicos:


*   Hello, World!
*   Variável;
*   Operações aritméticas;
*   Entrada de Dados;
*   Exercícios de Fixação.

#Vamos colocar a mão na massa!

#Hello, World!

No python temos a função "print" serve para imprimir os argumentos passados a ela no terminal

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
print("Maicon Serrão")

Maicon Serrão

In [ ]:
#nome_da_variavel = "variável, 12, 12.5"
nome = "maicon"
idade = 23
print("meu nome é",nome, "e eu tenho", idade, "anos")

meu nome é maicon e eu tenho 23 anos

In [ ]:
print("meu nome {one} eu tenho {two} anos".format(one = nome, two = idade))

meu nome maicon eu tenho 23 anos

#Entrada de dados

A função input() para receber os dados ou valores que um usuário fornece através do teclado.

In [ ]:
name = input("Entre com seu nome:")
print("Seu nome é {one}".format(one=name))

Entre com seu nome:maicon
Seu nome é maicon

#Operações Aritmética 

O Python pode ser utilizado como uma calculadora matemática avançada. Praticamente, todos os operadores aritméticos funcionam da mesma forma como os conhecemos da matemática elementar. Observe:

* Adição - "+"
* Subtração - "-"
* Multiplicação - "*"
* Divisão - "/"
* Exponenciação - "**"
* Parte Inteira da divisão - "//"
* Modulo ou Resto da divisão - "%"

In [ ]:
valor1 = int(input("Entre com o primeiro valor: "))
valor2 = int(input("Entre com o segundo valor: "))
#Soma
valor3 = valor1 + valor2
print(valor3)
#Subtração
valor3 = valor1 - valor2
print(valor3)
#Multiplicação
valor3 = valor1 * valor2
print(valor3)
#Divisão 
valor3 = valor1 / valor2
print(valor3)
#Exponenciação 
valor3 = valor1 ** valor2
print(valor3)
valor3 = pow(valor1, valor2)
print(valor3)
#Parte inteira da divisão
valor3 = valor1 // valor2
print(valor3)
#Resto da divisão
valor3 = valor1% valor2
print(valor3)

Entre com o primeiro valor: 21
Entre com o segundo valor: 5
26
16
105
4.2
4084101
4084101
4
1

#Exercícios de Fixação

*Quanto é 7 elevado na potência 4?*

In [ ]:
result = 7 ** 4
print(result)
result  = pow(7 , 4)
print(result)

2401
2401

*Qual é a área do quadrado de lado = 18cm?*

In [ ]:
#Área do quadrado é igual a L²
lado = 18
area = pow(lado, 2)
print("A área do quadrado é :", area, "cm²")

A área do quadrado é : 324 cm²

*Qual é a área da circunferencia de raio = 4?*
use Pi = 3.1415

In [ ]:
#Sabemos que A= pi*r²

pi = 3.1415
raio = 4
area = pi*pow(raio, 2)
print("A área da circunferencia é igual a ", area)

A área da circunferencia é igual a  50.264

*Faça uma programa que leia a entrada do nome, idade e numero de celular da pessoa e mostre na tela!*

In [ ]:
nome = input("Entre com o nome: ")
idade = int(input("Entre com a idade: "))
tel = int(input("Entre com o numero do telefone: "))
print("Seu nome é {nome}, sua idade é {idade} e seu telefone é {fone}".format(nome = nome, idade = idade, fone = tel))

Entre com o nome: maicon
Entre com a idade: 23
Entre com o numero do telefone: 9999999999
Seu nome é maicon, sua idade é 23 e seu telefone é 9999999999

*Faça um programa que peça a entrada de dois numeros e calcule a sua soma, subtração, divisão e multiplicação.*

**Desafio** : *Faça um Programa para converter graus de Celsius para Fahrenheit*

Dica: Sabe-se que para converter Celsius em Fahrenheit basta multiplicar a temperatura em graus Celsius por 1.8 e somar 32 graus

In [ ]:
celsius = float(input("Entre com a temperatura em graus celsius: "))
fahrenheit = celsius * 1.8 + 32 
print("A temperatura de {temp} graus celsius é igual a {temp2} graus fahrenheit". format(temp = celsius, temp2 = fahrenheit))

Entre com a temperatura em graus celsius: 32.5
A temperatura de 32.5 graus celsius é igual a 90.5 graus fahrenheit